@charset "UTF-8";
.body {
	margin-left : auto;
	margin-top : 100px;
	margin-right : auto;
 	position: relative;
  	width: 60%;
  	height: 60%;
/*   	align-content: center; */
  	
}
.body:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.color {
	border: 0;
	height: 2px;
background-color: #56BEC0;
}
.box{
/* width: 100%; */
  height: 80px;
  background-color: #F1F1F1;
}
.innerbox {
	 text-align: center;
}
.content {
  width: 100%;
  height: 100%;
  text-align: center;
}
.write {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color:#56BEC0;
	border-radius: 5px;
	color: white;
	border: none;
	 width: 100px;
  	height: 38px;
}
.write:hover {
	background-color:#4EA8AA;
}
.select {
width: 100px;
height: 42px;
 border: 1px solid #bbb;
border-radius: 5px;
  padding: 10px 12px;
  font-size: 14px;
}
.search {
position: relative;
	margin-top: 16px;
  width: 500px;
  height: 22px;
  border: 1px solid #bbb;
border-radius: 5px;
  padding: 10px 12px;
  font-size: 14px;
}
.listbtn {
	position: relative;
border: 1px solid #bbb;
border-radius: 5px;
	 width: 100px;
  height: 42px;
  background-color: white;
}

.searchbtn {
position: relative;
border: 1px solid #bbb;
	background-color: #888888;
	border:  none;
border-radius: 5px;
	color: white;
	 width: 100px;
  height: 42px;
}
.searchbtn:hover {
	background-color: #7C7C7C;
}
.searchbtn2 {
position: relative;
border: 1px solid #bbb;
	background-color:#56BEC0;
	border:  none;
border-radius: 5px;
	color: white;
	 width: 100px;
  height: 42px;
}
.searchbtn2:hover {
	background-color: #7C7C7C;
}

#post {
	margin-top: 10px;
}
table {
  border-left:none;
  border-right:none;
  width: 100%;
/*  border-top: 1px solid #444444; */
    border-collapse: collapse;
}
tfoot {
/*   text-align: center; */
  align-content: center;
}
td {
	padding: 15px;
}

a {
/* 	font-weight: bold; */
}
a:hover {
	color:#56BEC0;
/* 	border-bottom: solid 1px #56BEC0;   */
} 
.disable {
	color: gray;
}
table.td:nth-last-child(1)  {
	text-align:center;
}
table.td  {
	text-align:center;
}
.up_button {
	border-radius: 5px;
		width: 60px;
height: 30px;
 border: 1px solid #bbb;
 background-color: white;
}

.up_button:hover {
	background-color:#E7E7E7;
}
.del_button {
	border-radius: 5px;
		width: 60px;
height: 30px;
 border: 1px solid #bbb;
 background-color: #888888;
 color: white;
}
.paging {
margin-left : 340px;
}

