@charset "UTF-8";
.body {
	margin-left : auto;
	margin-top : 100px;
	margin-right : auto;
 	position: relative;
  	width: 60%;
  	height: 60%;
/*   	align-content: center; */
  	
}
.body:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.search {
position: relative;
	margin-top: 16px;
  width: 300px;
  height: 15px;
  border: 2px solid #56BEC0;
border-radius: 5px;
  padding: 10px 12px;
  font-size: 14px;
}
.searchbtn {
position: relative;

border: 1px solid #bbb;
	background-color: #888888;
	border:  none;
border-radius: 5px;
	color: white;
	 width: 95px;
  height: 37px;
}
.searchbtn:hover {
	background-color: #7C7C7C;
}
.up_button {
	border-radius: 5px;
		width: 95px;
	height: 37px;
	 border: 1px solid #bbb;
	 background-color: white;
}
.up_button:hover {
	background-color:#E7E7E7;
}
.commitbtn {
	border-radius: 5px;
		 width: 100px;
  	height: 38px;
 border: 1px solid #bbb;
 background-color: #56BEC0;
 color: white;
}
.commitbtn:hover {
	background-color: #4EA8AA;
}


nav{
 float: right;
}

.top {
	margin-top: 20px;
}
button #next{
	color: red;
}
/* Shikoba */
.button.button--shikoba {
  padding: 1em 5px 1em 30px;
  overflow: hidden;
  background: #fff; opacity : 0.7;
  color: black;
  border-color: #D9D9D9;
  border-radius: 50%;
  
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.button--shikoba.button--inverted {
  color: #fff;
  background: #56BEC0;
}
.button--shikoba > span {
  display: inline-block;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--shikoba .button__icon {
  position: absolute;
  left: 20px;
  font-size: 18px;
  -webkit-transform: translate3d(-40px, 2.5em, 0);
  transform: translate3d(-40px, 2.5em, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--shikoba:hover .button__icon,
.button--shikoba:hover > span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--shikoba:hover {
  background: #56BEC0;
  border-color: #56BEC0;
  color: #fff;
}
a #next {
	position: relative;
float: right;
top: -200px;
left: 10px;
}
table {
	text-align: center;
}
.select {
width: 90px;
height: 38px;
 border: 1px solid #bbb;
border-radius: 5px;
  padding: 10px 12px;
  font-size: 14px;
}

.h_button {
	border-radius: 5px;
		width: 60px;
height: 30px;
 border: 1px solid #bbb;
 background-color: #888888;
 color: white;
}
.h_button:hover {
	background-color: #7C7C7C;
}
.up_button {
	border-radius: 5px;
		width: 60px;
height: 30px;
 border: 1px solid #bbb;
 background-color: white;
}
.up_button:hover {
	background-color:#E7E7E7;
}
.right {
	float: right;
	margin-top: -55px;
}
