@charset "UTF-8";

.up_button {
	border-radius: 5px;
		width: 60px;
height: 30px;
 border: 1px solid #bbb;
 background-color: white;
}

	table {
		border-collapse: collapse;
		border : 2px solid black;
		width: 90%;
	}
	
	#rvTitle {
		text-align: center;
		font-size: 2em;
	}
	
	#rvRec {
		text-align: right;
	}
	
	#rvContent {
		background-color: lightgray;
		width: 100%;
		font-size: 1.2em;
	}
	
	.tfoot {
		text-align: center;
		padding: 20px;
	}
	