@charset "UTF-8";
	table {
		width : 90%;
		border: 1px solid black;
	}
	
	.link:hover {
		color:  #56BEC0;
	 	font-weight: bold;
	}
	
	/* #reviewOne.tr {
		width : 100px;
	}
	
	.recNo { padding-top : 0; }
	
	#rvDetail:hover {
	 	background-color: yellow;
	 	color:  #56BEC0;
	 	font-weight: bold;
	}
	
	#iconRec {
		padding: 0;
	} */