<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="reviewVO" type="com.mystudy.model.vo.reviewVO"/>
		<typeAlias alias="movieVO" type="com.mystudy.model.vo.movieVO"/>
		<typeAlias alias="accountVO" type="com.project.vo.AccountVO"/>
		<typeAlias alias="criticVO" type="com.project.vo.CriticVO"/>
		<typeAlias alias="listTotVO" type="com.mystudy.model.vo.listTotVO"/>
		<typeAlias alias="recVO" type="com.mystudy.model.vo.recVO"/>
		<typeAlias alias="warnVO" type="com.mystudy.model.vo.warnVO"/>
	</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="PROJECT2"/>
        <property name="password" value="project22"/>
      </dataSource>
    </environment> 
  </environments>
  
  <mappers>
    <mapper resource="com/project/mybatis/mapper.xml" />
    <mapper resource="com/project/mybatis/adminMapper.xml" />
    <mapper resource="com/project/mybatis/criticMapper.xml" />
    <mapper resource="com/project/mybatis/listTotMapper.xml" />
    <mapper resource="com/project/mybatis/loginMapper.xml" />
    <mapper resource="com/project/mybatis/movieMapper.xml" />
    <mapper resource="com/project/mybatis/postMapper.xml" />
    <mapper resource="com/project/mybatis/qnaMapper.xml" />
	<mapper resource="com/project/mybatis/inquiryMapper.xml" />
    <mapper resource="com/project/mybatis/recMapper.xml" />
    <mapper resource="com/project/mybatis/reviewMapper.xml" />
    <mapper resource="com/project/mybatis/warnMapper.xml" />
  </mappers>
 
</configuration>






