<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="critic">
	<!-- 전문가 한명 조회 -->
	<select id="cone" resultType="com.mystudy.model.vo.criticVO">
		SELECT *
		FROM CRITIC 
		WHERE No = #{no}
	</select>
	
	<!-- 전문가 목록 전체 조회 -->
	<select id="all" resultType="com.mystudy.model.vo.criticVO">
		SELECT A.*, C.*
		FROM ACCOUNT A, CRITIC C
		WHERE A.NO = C.NO
	</select>
	
	<!-- 	전문가 한명 정보 조회 -->
	<select id="one" resultType="com.mystudy.model.vo.criticVO">
		SELECT A.NO, A.NAME, C.COMPANY, C.CAREER, M.MV_NO, R.RV_NICK, R.RV_TITLE,
       					    R.RV_CONTENT, R.RV_DATE
		FROM ACCOUNT A, CRITIC C, REVIEW R, MOVIE M
		WHERE A.NO = C.NO
		AND C.NO = R.NO
        AND R.MV_NO = M.MV_NO
  		AND A.NO = #{no}
  	</select>
  	
  	<!-- 전문가 리뷰 건수 -->
	<select id="cnt" parameterType="int" resultType="int">
		SELECT COUNT(*) CNT
		FROM ACCOUNT A, CRITIC C, REVIEW R
		WHERE A.NO = C.NO
		AND C.NO = R.NO
  		AND A.NO = #{no}  	
  	</select>
	
	<!-- 전문가 정보 업데이트 -->
	<update id="update" parameterType="com.mystudy.model.vo.criticVO"> 
		UPDATE CRITIC
		SET CAREER = #{career},
    	COMPANY = #{company},
    	FILENAME = #{filename}
		WHERE NO = #{no}
	</update>
	
	<!-- 전문가 정보 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM CRITIC
		WHERE NO = #{no}
	</delete>
	
	<!-- 계정 번호 받아서 전문가 이름 찾기 -->
	<select id="cname" resultType="com.mystudy.model.vo.criticVO">
		SELECT A.NAME
		FROM CRITIC C, ACCOUNT A
		WHERE A.No = C.NO
        AND C.NO = #{no}
	</select>
	
	<!-- CRITICAPPLY 테이블 -->
	<!-- 전문가 승인 대기 목록 전체 조회 -->
	<select id="allApply" resultType="com.mystudy.model.vo.criticVO">
		SELECT A.*, C.*
		FROM ACCOUNT A, CRITICAPPLY C
		WHERE A.NO = C.NO
	</select>
	
	<!-- 전문가 신청 승인 CRITICAPPLY 테이블로 보내기 -->
	<insert id="insertApply" parameterType="com.mystudy.model.vo.criticVO">
		INSERT INTO CRITICAPPLY (NO, COMPANY, CAREER, FILENAME)
		VALUES (#{no}, #{company}, #{career}, #{filename})
	</insert>
	
	<!-- 전문가 승인 완료 이후 CRITIC INSERT -->
	<insert id="insert" parameterType="int">
		INSERT INTO CRITIC
		SELECT * 
		FROM CRITICAPPLY
		WHERE NO = #{no}
	</insert>
	
	<!-- 전문가 승인 대기 정보 삭제 -->
	<delete id="deleteApply" parameterType="int">
		DELETE FROM CRITICAPPLY
		WHERE NO = #{no}
	</delete>
	
</mapper>






