<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquiry">

	<select id="ione" parameterType="int" resultType="com.mystudy.model.vo.inquiryVO">
			SELECT *
			FROM INQUIRY
			WHERE QA_NO = #{qaNo}
	</select>
	
	<!-- INQUIRY 입력 -->
	<insert id="insert" parameterType="com.mystudy.model.vo.inquiryVO">
		INSERT INTO INQUIRY
			       (IQ_NO, QA_NO, IQ_CONTENT, IQ_DATE)
			VALUES (INQUIRY_SEQ.NEXTVAL, #{qaNo}, #{iqContent}, SYSDATE) 
	</insert>
	
	<!-- INQUIRY 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM INQUIRY
		WHERE IQ_NO = #{iqNo}
	</delete>
	
</mapper>