<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="listTotal">
	
	<!-- 회원,영화,리뷰 테이블 전체조회 -->
	<select id="listAll" resultType="com.mystudy.model.vo.listTotVO">
		SELECT A.*, M.*,  R.*
		FROM ACCOUNT A, MOVIE M, REVIEW R
		WHERE R.NO = A.NO
		AND R.MV_NO = M.MV_NO
		ORDER BY R.RV_NO
	</select>
	
	<!-- mvNo로 검색하여 movie 정보(title,poster) select -->
	<select id="one" parameterType="int" resultType="com.mystudy.model.vo.listTotVO">
		SELECT A.*, M.*,  R.*
		FROM ACCOUNT A, MOVIE M, REVIEW R
		WHERE R.NO = A.NO
		AND R.MV_NO = M.MV_NO
		AND R.RV_NO = #{rvNo}
		ORDER BY R.RV_NO DESC
	</select>
</mapper>