<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie">
	
	<select id="all" resultType="com.mystudy.model.vo.movieVO">
		SELECT *
		FROM MOVIE
	</select>
	
	<select id="one" parameterType="int" resultType="com.mystudy.model.vo.movieVO">
		SELECT * 
		FROM MOVIE
		WHERE MV_NO = #{mvNo}
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE INTO MOVIE
		WHERE MV_NO = #{mvNo}
	</delete>
	
	<update id="update" parameterType="com.mystudy.model.vo.movieVO">
		UPDATE MOVIE
		SET MV_TITLE = #{mvTitle},
		    MV_DIRECT = #{mvDirect},
		    MV_ACTOR = #{mvActor},
		    MV_GENRE = #{mvGenre},
		    MV_RATE = #{mvRate},
		    MV_AUDIENCE = #{mvAudience},
		    MV_GRADE = #{mvGrade},
		    MV_DATE = #{mvDate},
		    MV_POSTER = #{mvPoster}
		WHERE MV_NO = #{mvNo}
	</update>
	
	<select id="rone" resultType="com.mystudy.model.vo.movieVO">
		SELECT * 
		FROM MOVIE M, REVIEW R
		WHERE M.MV_NO = R.MV_NO
		AND M.MV_NO = #{mvNo}
	</select>
	
</mapper>