<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">
	
	<!-- QA 1개 조회 -->
	<select id="one" resultType="com.mystudy.model.vo.qnaVO">
		SELECT Q.*, A.NICK, A.CRITIC_CHECK
		FROM QA Q, ACCOUNT A
		WHERE Q.NO = A.NO
		AND QA_NO = #{qaNo}
	</select>
	
	<!-- 나의 QA 조회 -->
	<select id="getMyQa" parameterType="int" resultType="com.mystudy.model.vo.qnaVO">
		SELECT Q.*, A.ID, A.CRITIC_CHECK
		FROM QA Q, ACCOUNT A
		WHERE Q.NO = A.NO
		AND Q.NO = #{no}
	</select>
	
	<!-- 전체 QA 건수 조회 -->
	<select id="totalCount" resultType="int">
		SELECT COUNT(*) AS CNT FROM QA
	</select>
	
	<!-- 페이지에 해당하는 QA 조회 -->
	<select id="list" parameterType="map" resultType="com.mystudy.model.vo.qnaVO">
	    <![CDATA[
		    SELECT Q.*, A.NICK, A.CRITIC_CHECK
		    FROM (
		        SELECT ROWNUM R_NUM, Q.*
		        FROM (
		            SELECT *
		            FROM QA
		            ORDER BY QA_NO DESC
		        ) Q
		        WHERE ROWNUM <= #{end}
		    ) Q
		    INNER JOIN ACCOUNT A ON Q.NO = A.NO
		    WHERE R_NUM >= #{begin}
		    ORDER BY R_NUM ASC
	    ]]>
</select>
	
	<!-- 	카테고리별 게시글 동적 검색 -->
	<select id="search" parameterType="map" resultType="com.mystudy.model.vo.qnaVO">
	    SELECT QA.*, A.NICK
	    FROM QA
	    LEFT JOIN ACCOUNT A ON QA.NO = A.NO
	    <choose>
	        <when test="idx == null or idx == ''">
	            WHERE 1 = 2 <!-- 어떤 결과도 반환되지 않도록 함 -->
	        </when>
	        <when test="idx == 0">
	            WHERE QA_TITLE LIKE '%' || #{keyword} || '%'
	        </when>
	        <when test="idx == 1">
	            WHERE TO_CHAR(QA_DATE, 'YYYYMMDD') = #{keyword}
	        </when>
	        <when test="idx == 2">
	            <!-- 수정된 부분: keyword가 없는 경우 해당 카테고리의 모든 데이터 반환 -->
	            <choose>
	                <when test="checkQaCategory == '1' ">
	                    WHERE QA_CATEGORY = #{keyword}
	                </when>
	                <otherwise>
	                    WHERE QA_CATEGORY = #{qaCategory} AND QA_CONTENT LIKE '%' || #{keyword} || '%'
	                </otherwise>
	            </choose>
	        </when>
	        <when test="idx == 3">
	            <!-- 수정된 부분: keyword가 없는 경우 해당 카테고리의 모든 데이터 반환 -->
	            <choose>
	                <when test="checkQaCategory == '1' ">
	                     WHERE QA_CATEGORY = #{keyword}
	                </when>
	                <otherwise>
	                    WHERE QA_CATEGORY = #{qaCategory} AND QA_CONTENT LIKE '%' || #{keyword} || '%'
	                </otherwise>
	            </choose>
	        </when>
	        <otherwise>
	            AND 1 = 2
	        </otherwise>
	    </choose>
	    ORDER BY QA_NO DESC
	</select>

	<!-- 	(동적검색)카테고리별 게시글 동적 검색 -->
	<select id="cnt" parameterType="map" resultType="int">
	    SELECT COUNT(*) AS CNT FROM QA
	    <choose>
	        <when test="idx == null or idx == ''">
	            WHERE 1 = 2 <!-- 어떤 결과도 반환되지 않도록 함 -->
	        </when>
	        <when test="idx == 0">
	            WHERE QA_TITLE LIKE '%' || #{keyword} || '%'
	        </when>
	        <when test="idx == 1">
	            WHERE TO_CHAR(QA_DATE, 'YYYYMMDD') = #{keyword}
	        </when>
	        <when test="idx == 2">
	            <!-- 수정된 부분: keyword가 없는 경우 해당 카테고리의 모든 데이터 반환 -->
	            <choose>
	                <when test="checkQaCategory == '1' ">
	                    WHERE QA_CATEGORY = #{keyword}
	                </when>
	                <otherwise>
	                    WHERE QA_CATEGORY = #{qaCategory} AND QA_CONTENT LIKE '%' || #{keyword} || '%'
	                </otherwise>
	            </choose>
	        </when>
	        <when test="idx == 3">
	            <!-- 수정된 부분: keyword가 없는 경우 해당 카테고리의 모든 데이터 반환 -->
	            <choose>
	                <when test="checkQaCategory == '1' ">
	                     WHERE QA_CATEGORY = #{keyword}
	                </when>
	                <otherwise>
	                    WHERE QA_CATEGORY = #{qaCategory} AND QA_CONTENT LIKE '%' || #{keyword} || '%'
	                </otherwise>
	            </choose>
	        </when>
	        <otherwise>
	            AND 1 = 2
	        </otherwise>
	    </choose>
	    ORDER BY QA_NO DESC
	</select>
	
	<!-- QA 입력 -->
	<insert id="insert" parameterType="com.mystudy.model.vo.qnaVO">
		INSERT INTO QA
			       (QA_NO, NO, QA_CONTENT, QA_DATE, QA_CATEGORY, QA_TITLE)
			VALUES (QA_SEQ.NEXTVAL, #{no}, #{qaContent}, SYSDATE, #{qaCategory},#{qaTitle}) 
	</insert>
	
	<!-- QA 수정 -->
	<update id="update" parameterType="com.mystudy.model.vo.qnaVO">
		UPDATE QA
			SET  QA_TITLE = #{qaTitle}
			    , QA_CONTENT = #{qaContent}
				, QA_DATE = SYSDATE
			WHERE QA_NO = #{qaNo}
	</update>
	
	<!-- QA 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM QA
		WHERE QA_NO = #{qaNo}
	</delete>
	
</mapper>