<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rec">
	
	<!-- 리뷰번호에 해당하는 추천수 sum -->
	<select id="cnt" parameterType="int" resultType="int">
		SELECT COUNT(*) AS SUM
		FROM REC
		WHERE RV_NO = #{rvNo}
	</select>
	
	<!-- 회원no, 리뷰rvNo에 맞는 추천 선택여부 확인 -->
	<select id="search" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM REC
		WHERE NO = #{no}
		AND RV_NO = #{rvNo}
	</select>
	
	<!-- 추천 클릭 선택(INSERT) -->
	<insert id="insert" parameterType="map">
		INSERT INTO REC
		    (IDX, REC_NUM, NO, RV_NO)
		VALUES (REC_SEQ.NEXTVAL, 1, #{no}, #{rvNo})
	</insert>
	
	<!-- 추천 클릭 해제(DELETE) -->
	<delete id="delete" parameterType="map">
		DELETE FROM REC
		WHERE NO = #{no}
		AND RV_NO = #{rvNo}
	</delete>
	
	<!-- review 테이블에서 월별/추천수 검색 -->
	
	
	<!-- [리뷰]월별 조회된 rvNo에 해당하는 [추천]추천수 count값 추출 -->
	<select id="recNum" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM REC
		WHERE RV_NO = #{rvNo}
		GROUP BY RV_NO
	</select>
	
	
</mapper>