<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="warn">
	
	<!-- 리뷰번호에 해당하는 신고수 sum -->
	<select id="cnt" parameterType="int" resultType="int">
		SELECT COUNT(*) AS SUM
		FROM WARN
		WHERE RV_NO = #{rvNo}
	</select>
	
	<!-- 회원번호에 해당하는 신고수 sum -->
	<select id="cntByNo" parameterType="int" resultType="int">
		SELECT COUNT(*) AS SUM
		FROM WARN
		WHERE NO = #{no}
	</select>
	
	<!-- 자유게시판번호에 해당하는 신고수 sum -->
	<select id="cntBypsNo" parameterType="int" resultType="int">
		SELECT COUNT(*) AS SUM
		FROM WARN
		WHERE PS_NO = #{psNo}
	</select>
	
	<!-- 회원no, 리뷰rvNo에 맞는 신고수 확인 -->
	<select id="search" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM WARN
		WHERE NO = #{no}
		AND RV_NO = #{rvNo}
	</select>
	
	<!-- 리뷰 신고 클릭 선택(INSERT) -->
	<insert id="insert" parameterType="map">
		INSERT INTO WARN
		    (IDX, WARN_NUM, NO, RV_NO)
		VALUES (REC_SEQ.NEXTVAL, 1, #{no}, #{rvNo})
	</insert>
	
	<!-- 리뷰 신고 클릭 해제(DELETE) -->
	<delete id="delete" parameterType="map">
		DELETE FROM WARN
		WHERE NO = #{no}
		AND RV_NO = #{rvNo}
	</delete>
	
	<!-- 회원no, 게시물psNo에 맞는 신고수 확인 -->
	<select id="searchPost" parameterType="map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM WARN
		WHERE NO = #{no}
		AND PS_NO = #{psNo}
	</select>
	
	<!-- 게시물 신고 클릭 선택(INSERT) -->
	<insert id="insertPost" parameterType="map">
		INSERT INTO WARN
		    (IDX, WARN_NUM, NO, PS_NO)
		VALUES (REC_SEQ.NEXTVAL, 1, #{no}, #{psNo})
	</insert>
	
	<!-- 게시물 신고 클릭 해제(DELETE) -->
	<delete id="deletePost" parameterType="map">
		DELETE FROM WARN
		WHERE NO = #{no}
		AND PS_NO = #{psNo}
	</delete>
	
</mapper>